@font-face {
    font-family: fontArab;
    src: url('/assets/fonts/LPMQ\ IsepMisbah.ttf');
}
.arab {
    font-family: fontArab;
}
#header-kajian {
    padding: 0px 0px 20px 0px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
    background: rgba(138, 144, 255, 0.9)
}
